@import url('style_general.css');
@import url('style_grid.css');




.fact {
	display:block;
	text-align: center;
	font-size: 5vw;
	//border: 1px solid black;
}



.message {
	display:block;
	text-align: center;
	font-size: 4vw;
	//border: 1px solid black;
}


.form {
	display: block;
	padding: 100px;
	width: 60%;
	margin: 0 auto;
	background-color: #e0f0f5;
	border-radius: 20px;
	
}

.timer {
		position: absolute;
		width: 5%;
		left: 70%;
		top: 50%;
		//float: right;
		//margin:  ;
		font-size: 5vw;
	
	
}

.userfield {
	display: block;
	width: 12%;
	height: 30%;
	font-size: 5vw;
	margin: 0 auto;
	border-radius: 20px;
}


.computer {
	
	font-size: 3vw;
	
	
}
